*{
	margin: 0;
	padding: 0;

	box-sizing: border-box;
}



header nav, #Titulo, #Autores1, #Autores2, #Yesenia, #Duber, #Maygel{
	width: 100%;

}

.navegacion{
<<<<<<< HEAD
	width: 1000px;
=======
	width: 980px;
>>>>>>> ecea3a65dc3a622cd0fc4ccfbd05ada2c549b874
	margin: 1px auto;
	background: #fff;
}

.navegacion ul{
	list-style: none;
}

.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: #353535;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li a:hover{
	color: #CE7D35;
	transition: all .3s;
}

/* Submenu*/

.submenu{
	position: absolute;
	background: #333333;
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}
#Yesenia{
	width: 480px;
	height: 390px;
	float: left;
	border: 3px solid black;
	display: inline-block;
}
#Infyesenia{
	width: 180px;
	height: auto;
	float: right;
	display: inline-block;
	background: #086A87;
}
#Mayguel{
	width: 480px;
	height: 390px;
	float: right;
	border: 3px solid black;
	display: inline-block;
}
#infmayguel{
	width: 270px;
	height: auto;
	float: right;
	display: inline-block;
	background: #086A87;
}
#Angel{
	width: 480px;
	height: 390px;
	background-origin: img/fondo.jpg;
	float: right;
	display: inline-block;
	border: 3px solid black;
}
#Infangel{
		width: 270px;
		height: auto;
		float: right;
		display: inline-block;
		background: #086A87;
}
#Duber{
	margin-right: 10px;
	width: 480px;
	height: 390px;
	float: left;
	border: 3px solid black;
	display: inline-block;
}
#Infduber{
	width: 270px;
	height: auto;
	float: right;
	display: inline-block;
	background: #086A87;
}
